<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <ul >
            <li><a class="navbar-brand" >ADMIN PAGE</a></li>

            <li> <a class="button" routerLink="add-user">ADD USER</a></li>
            <li> <a class="button" routerLink="view-user">VIEW USERS</a></li>
            <li> <a class="button" routerLink="time-table">TIME TABLE</a></li>
  
        </ul>
        </div>
    </div>
</nav>
<app-add-user></app-add-user>
<!-- <router-outlet></router-outlet> -->