<br>
<br>
<header>
  <div class="container">
    
       <div class="card rounded-7 text-black">
         <div class="row g-2">
           <div class="col-lg-11">
             <div class="card-body">
               
                 <div class="text-center pt-1 mb-5 pb-1" style="padding-left:80px;">
                  <br>
                  <img src="https://tse4.mm.bing.net/th?id=OIP.G4uEmfHPFCcFNwEUUedOxAAAAA&pid=Api&P=0"width="90" height="90">
                  <br><br>
                  <h4>Login Form</h4>
                </div>
                <div style="padding-left:50px;"> 
                 <div class="form-outline mb-10">
                  <label class="form-label" for="form2Example11">Username</label>
                   <input type="email" id="form2Example11" class="form-control"
                     placeholder="UserName"  [(ngModel)] ="Name"/>
                 </div>
                  <br>
                 <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example22">Password</label>
                   <input type="password" id="form2Example22" class="form-control" [(ngModel)] ="Password" placeholder="Password" />
                 </div>

                 <div class="text-center pt-1 mb-5 pb-1">
                   <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="login()"
                     >Login</button>
                     <br>
                     <br>
                   <a class="text-muted" href="#!">Forgot password?</a>
                 </div>
               </div>
                </div>
           </div>
           </div>
         </div>
      
    </div>

  </header>


<!--<div align="center" class="sample"><p *ngIf="c" >{{Name}}</p></div>-->
